@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.textAra {
    font-family: "Amiri", serif;
    direction: rtl;
}

.Background {
    background-image: url("./assets/Background.png");
    background-repeat: repeat;
    background-position: center;
}